<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
                
            </div>
            <div>
                <div class="col-lg-1"></div>
                <div class="col-lg-10 text-left">
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non pulvinar lorem, non mattis mi. Cras sed dictum lacus. Cras sed sollicitudin ante. Suspendisse auctor orci id suscipit accumsan. Nulla in arcu ac dui blandit pellentesque. Nunc pulvinar tortor quis velit tempus imperdiet. Integer porttitor iaculis rutrum. Nam leo leo, tincidunt vel magna a, lacinia laoreet ex. Phasellus sollicitudin justo tempor, egestas felis at, consequat eros. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut elit libero, pulvinar sit amet nibh vitae, mattis convallis lorem.
                    </p>
                </div> 
                <div class="col-lg-1"></div>
            </div>
        </div>
    </section>