<!-- Header -->
<header id="header" class="skel-layers-fixed">
    <h1><a href="{{ site.baseurl }}/" class="site-title" >{{ site.title }}</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="{{ site.baseurl }}/team.html">Team</a></li>
            <li><a href="{{ site.baseurl }}/service.html">Service</a></li>
            <li><a href="{{ site.baseurl }}/blog.html">Blog</a></li>
            {% for page in site.pages %}
                  {% if page.title %}
                    <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                  {% endif %}
            {% endfor %}
            <li><a href="#Contact" class="button special">Contact Us</a></li>
        </ul>
    </nav>
</header>