<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>BERLINER BLOCKFLÖTEN ORCHESTER</h2>
                <p>„Paul Hindemith“ Neukölln</p>
                <ul class="actions">
                    <li><a href="http://facebook.com/Berliner-Blockfl%C3%B6ten-Orchester-BBO-539437959484635" class="button big alt">Facebook</a></li>
                    <li><a href="https://youtube.com/channel/UCZqZoQhc6dwRziq2KbA0Ung" class="button big alt">Youtube</a></li>
                </ul>
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
